doctype html
html(lang="en")
  head
    title=title
    link(rel='stylesheet', href='/css/style.css', type='text/css')
  body
    div#container
      img(src='/img/title.png' width='100%')
      h1
        a(href="/play") PLAY
    audio(loop autoplay)
      source(src='/sound/ocean.mp3', type='audio/mpeg')
    div(style='display:none;')
      img(src='/img/sand.jpg')
      img(src='/img/water.jpg')
      img(src='/img/fog.jpg')
      img(src='/img/hermit_idle_down.png')
      img(src='/img/hermit_idle_right.png')
      img(src='/img/hermit_walk_right.png')
      img(src='/img/hermit_walk_down.png')
      img(src='/img/hermit_walk_left.png')
      img(src='/img/hermit_walk_up.png')
      img(src='/img/hermit_burrow_front.png')
      img(src='/img/hermit_surprise.png')
      img(src='/img/hermit_death.png')

