doctype html
html(lang="en")
  head
    title=title
    link(rel='stylesheet', href='/css/style.css', type='text/css')
  body
    div#container
      a(href="/play") PLAY
      img(src='/img/title.png' width='100%')
